{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format .Site.Params.DateForm }}</span>
  <div id="post-content">
  {{ .Content }}
  </div>
  <span class="post-date">Posted in
		{{ range .Params.categories }}
		<a href="/categories/{{ . | urlize | lower }}" class="btn btn-primary">{{ . | title }}</a>{{ end }}. Discuss on
  {{ partial "share.html" . }}
  </span>
  {{ partial "related.html" . }}
  <hr>
  {{ partial "about.html" }}

</div>

{{ partial "default_foot.html" . }}
