<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width">

  <title>{{ .Title }} &middot; Presentations By {{ .Site.Params.Author }}</title>

  <!-- Social/OpenGraph -->
  <meta name="og:title" content="{{ .Title }}" />
  <meta name="og:type" content="article" />
  <meta name="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />
  <meta name="og:description" content="{{ .Description }}" />
  <meta name="og:url" content="{{ .Permalink }}" />
  <meta name="og:site_name" content="{{ .Site.Params.Title }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ .Site.Params.Twitter }}" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">

  <!-- Other -->
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .Description }}
  <meta name="description" value="{{ .Description }}">
  {{ end }}
  <link rel="stylesheet" href="/static/css/{{ .Params.theme }}.css"></style>
  <style type="text/css">
@page {
   size: {{ if .Params.ratio }} 1216px 684px; {{ else }} 912px 684px; {{ end }}
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
  </style>
  {{ partial "mathjax.html" }}
  </head>
  <body>
    <textarea id="source">
{{ .RawContent }}
    </textarea>
    <script type="text/javascript" src="/static/js/qrcode.js"></script>
    <script src="/static/js/remark.min.js"></script>
    <script>
      var slideshow = remark.create({
         {{ if .Params.ratio }} ratio: "{{ .Params.ratio }}", {{ end }}
         navigation: {
            scroll: false,
            click: true
         },
         countIncrementalSlides: false,
         slideNumberFormat: '%current%'
      });
      new QRCode(
         document.getElementById("qrcode"),
         {
            "useSVG": true,
            "text": window.location.href.replace(/#\d*$/, "")
         }
      );
    </script>

{{ if .Site.Params.GoogleAnalytics }}
{{ partial "google_analytics.html" . }}
{{ end }}

  </body>
</html>
